* {
    font-family: monaco;
}

main {
    display: grid;
    grid-template-columns: 15% 60% 25%;
}

#main {
    height: 100vh;
}

header {
    background: rosybrown;
    font-family: monaco;
    height: 10%;
}

li {
    border: 0.5px solid;
}

#left-sidebar {
    background: rgb(70, 77, 84);
    display: grid;
    color: white;
    font-family: monaco;
    text-align: center;
    border: 0.5px solid;
    border-color: white;
}

.left-bar {
    border: 0.5px solid;
    border-color: white;
}

#feed {
    background: blue;
    display: grid;
    grid-template-rows: 40% 20% 40%;
}

.stories-parent {
    background: cornsilk;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.stories {
    border: 2px solid white;
}

#update-status {
    background: darkolivegreen;
}

#news-feed {
    background: darkslateblue;
}
#right-sidebar {
    background: cyan;
    display: grid;
}

#sponsored {
    background: cornflowerblue;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
}

#contacts {
    background: lightgoldenrodyellow;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
